<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://e7.pngegg.com/pngimages/776/561/png-clipart-computer-icons-internet-domain-name-cinema-logo-television-angle.png"
           alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
      <span class="fw-bold">MOVIES WATCHLIST</span>
    </a>
  </div>
</nav>

<div class="container">
   <div class = "fw-bold text-center"> <h1>New list</h1> </div>
  <%= simple_form_for(@list) do |f| %>
  <div class = "fw-bold text-center"> <%= f.input :name %> </div>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <%= f.submit "Create List", class: "btn btn-outline-success btn-lg fw-bold" %>
      <%= link_to "All lists", lists_path, class: "btn btn-outline-primary btn-lg fw-bold" %>
    </div>
  <% end %>
</div>
